//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';
html{
  @include font;
  background-color: $background-color-3;
}

a{@include link}
body{
  @include flex(center, center, column);
  @include size(100vh, 100%);
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

h1{
  font-weight: 200;
  line-height: 16px;
  font-size: 24px;
  margin: 0;
  letter-spacing: 0.4;
}

p{
  color:$font-color-2;
  line-height: 9pt;
}

input{
  @include size(32px, 100%);
  @include font;
  border: 1px solid $border-color-1;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
  margin: 0;
  padding: 0 10px;
  &:focus{
    outline: none;
    border-color: $blue-1;
  }
}

label{
  display: flex;
  color:$font-color-2;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 500;
  justify-content: space-between;
  width: 100%;
}

.separator{
  @include size(1px, 100%);
  border-bottom: 1px solid $border-color-3;
  margin: 30px 0;
}

.container{
  @include size(auto, 350px);
  min-height: 300px;
  position: relative;
  @include shadow;
  padding: 50px 30px;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 40px;
  @include flex(flex-start, stretch, column);
}

button{
  @include primary;
  margin-top: 30px;
  width: 100%;
  font-weight: 500;
}

.names{
  @extend h1;
  margin: 0;
  position: relative;
  pointer-events: none;
  top:-28px;
  left:92px;
  decoration:none;
  overflow: scroll;
  height: 50px;
  line-height: 40px;
  li{list-style: none;}
  ul:first-child{
    margin-top: 0;
  }
  ul{margin-bottom: 0;}
  margin-bottom: -30px
}

.w-sep{
  text-align: center;
  margin-bottom: 0;
  flex-shrink: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.inline-separator{
  @include size(15px, 100%);
  border-bottom: 1px solid $border-color-3;
  margin: 10px 0;
}

.space-between{
  @include flex(center, center, row);
  width: 100%;
  margin-top: 10px;
}
.secondary{
  @include secondary;
  &:hover, &:active{
    background-color:white;
  }
}

.circle{
  margin: 0;
  display: none;
  align-self: center;
  @include size(80px, 100%);
  padding: 40px;
  background: url('../img/xi3.svg');
  background-color: $background-color-3;
  background-size: 75%;
  background-position:center;
  background-repeat: no-repeat;
  border-radius: 4px;
  // border:1px solid $border-color-1;
}

span{
  @include link;
  font-size: 12px;
  font-weight: 500;
}
